body {
  background-color: rgba(0, 130, 72, 0.186);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  text-align: center;
}

h1 {
  font-weight: 700px;
  font-size: 45px;
  text-align: center;
}
h3 {
  font-weight: 700px;
  text-align: center;
}

strong {
  font-size: 20px;
}

.form{
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.personas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.personas table{
  border-collapse: collapse;
  border: 2px solid;
  border-color: rgb(22, 54, 43);
  width: 40%;
}

.personas table thead {
  background-color: rgb(89, 181, 124);
}

.personas table tbody {
  background-color: rgb(116, 196, 153);
}

#references {
  justify-content: end;
  align-items: center;
  height: 40px;
  background-color: rgb(51, 153, 88);
}

#references a {
  color: aliceblue;
}

#down-style img {
  width: 40%;
  height: 500px;
  position: relative;
}
