body{
    background-color: rgba(0, 130, 72, 0.186);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
}

h1{
    font-weight:700px;
    font-size: 45px;
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.container table{
    border-color: black;
}

#references{
    justify-content: end;
    align-items: center;
    height: 40px;
    background-color:rgb(51, 153, 102);
}

#references a{
    color: aliceblue;
}

#down-style img{
    width: 700px;
    height: 300px;
    position:relative;    
}