body{
    background-color:rgb(18, 9, 19);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-align: center;
    margin: 0%;
}

.container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

#references{
    justify-content: end;
    align-items: center;
    height: 40px;
    background-color:coral;
    color: antiquewhite;
}

h1{
    font-weight:700px;
    font-size: 45px;
    color: antiquewhite;
}

p,a{
    font-size: 20px;
    color: antiquewhite;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tictactoe table{
    display: table;
    table-layout: fixed;
}

.tictactoe td, th{
    border: 1px solid;
    border-color: antiquewhite;

    word-wrap: break-word;

    color: rgb(197, 64, 144);
    font-size: 20px;
    font-weight: bolder;
}

.tictactoe th{
    border: 1px solid;
    border-color: antiquewhite;
    background-color:rgb(219, 88, 41);

    word-wrap: break-word;

    color:  antiquewhite;
    font-size: 20px;
    font-weight: bolder;
}

.tictactoe tr:hover{
    border-color: rgb(177, 70, 34);
    background-color:rgb(17, 1, 4);
    color: antiquewhite;
}

.ranking h2{
    color: rgb(197, 64, 144);
    margin: 0%;
    font-size: 30px;
    letter-spacing: 5px;

    background: linear-gradient(to right, rgb(222, 74, 162), rgb(141, 58, 107) , rgb(177, 70, 34), coral, antiquewhite);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400% 100%;

    color: transparent;
    animation-name: rank;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.ranking hr{
    color: rgb(197, 64, 144);
    margin-left: 10%;
    margin-right: 10%;

    background: linear-gradient(to right, rgb(222, 74, 162), rgb(141, 58, 107) , rgb(177, 70, 34), coral, antiquewhite);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400% 100%;

    color: transparent;
    animation-name: rank;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rank {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

.container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}